.backdrop {
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 100%;
}

.title {
  display: flex;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 50px;
  text-align: center;
}


.body1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  background-color: #FFBB73;
  color: white;
}

.body1p {
  text-align: center;
  font-size: 28px;
}

.body1b {
  text-align: center;
}

.body2 {
  background-image: url('./images/body2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  opacity: 0.9;
}

.body2p {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.body3 {
  display: inline-block;
  height: 21vh;
  width: 100%;
}

.footer {
  min-height: 80px;
  width: 100%;
  background-color: #326784;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footnote2 {
  padding-left: 25px;
  padding-right: 25px;
}

a:link {
  color: white;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.slideshow {

}
