.testTitle {
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  font-family: fantasy;
  color: white;
}

.background {
  background-image: url('./images/background2.jpg');
  background-repeat: repeat;
  background-position: center;
  min-height: 900px;
  width: 100%;
}

.listName {
  font-size: 25px;
  font-weight: bold;
}

.listRate {
  font-size: 15px;

}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
